@{
    ViewBag.Title = "Home Page";
}

<div>
    <br /><br />
    <input type="text" id="textInput" />
    <button onclick="addUpdateString()">Add/Update</button>
</div>
<br /><br />
<div id="stringsGrid">
    <table width="40%">
        <thead>
            <tr>
                <th width="5px">User ID</th>
                <th width="20px">Name</th>
                <th width="12px">Updated On</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>

@section scripts {
    <script>
        function addUpdateString() {
            var inputString = document.getElementById('textInput').value;
            var data = JSON.stringify({ 'value': inputString });

            fetch('/api/strings', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: data
            })
                .then(response => {
                    if (response.ok) {
                        console.log('Value added/updated successfully');
                        loadStrings();
                        document.getElementById('textInput').value = '';
                    } else {
                        console.error('Error adding/updating string');
                    }
                })
                .catch(error => console.error('Error:', error));
        }

        function loadStrings() {
            fetch('/api/strings')
                .then(response => response.json())
                .then(strings => {
                    var stringsGrid = document.getElementById('stringsGrid').getElementsByTagName('tbody')[0];
                    stringsGrid.innerHTML = '';

                    strings.forEach(string => {
                        var row = document.createElement('tr');
                        row.innerHTML = '<td width="5px">' + string.ID + '</td>' +
                                        '<td width="20px">' + string.Value + '</td>' +
                                        '<td width="12px">' + string.UpdatedOn + '</td>';
                        stringsGrid.appendChild(row);
                    });
                })
                .catch(error => console.error('Error:', error));
        }

        // Load strings on page load
        loadStrings();
    </script>
}